.checkout-container {
  background-color: #F0F0F0;
}

#coffee-logo {
  width: 30px;
  height: 30px;
  padding-right: 16px;
}
.checkout-nav {
  background-color: #43281C;
  color: #FBF2C0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

.checkout-h3 {
  font-family: 'Open Sans', sans-serif;
}

.user-data-group {
  position: relative;
  display: inline-block;
}

.input-label {
  background-color: white;
  font-size: 11px;
  color: brown;
  position: absolute;
  left: 25px;
  padding: 0 2px;
}

.input-label-1 {
  top: 12px;
}

.input-label-2 {
  top: 12px;
}

.input-label-3 {
  top: 12px;
}

.input {
  border-radius: 100px;
  padding: 8px;
  margin: 16px;
}

.checkout-button-center {
  display: flex;
}

.checkout-button {
  background-color: #DEB993;
  border: none;
  border-radius: 40px;
  padding: 16px;
  display: flex;
}
