.checkout-container {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0;
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  grid-template-areas:
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;
}

#coffee-logo {
  width: 30px;
  height: 30px;
  padding-right: 16px;
}
.checkout-nav {
  background-color: #43281C;
  color: #FBF2C0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.checkout-h3 {
  font-family: 'Open Sans', sans-serif;
  _padding: 20px;
}

.checkout-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkout-box {
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.checkout-order {
  grid-area: order;
}

.checkout-payment {
  grid-area: payment;
}

.checkout-total {
  grid-area: total;
}

.checkout-item {
  border-bottom: 2px solid #DDB892;
  display: grid;
}

.checkout-quantity {
  grid-area: quantity;
}

.checkout-item {
  grid-area: item;
  align-items: center;
}

.checkout-price {
  grid-area: price;
}

.sections-features {
  background-color: #EDE1D5;
    font-family: 'Open Sans', sans-serif;
    padding: 24px;
    margin-left: 32px;
    margin-right: 32px;
    display: grid;
    grid-template-areas:
    'quantity item . price'
    'quantity item . price'
  }

.user-data-group {
  position: relative;
}

.input-label {
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.input-label-1 {
  top: 12px;
}

.input-label-2 {
  top: 12px;
}

.input-label-3 {
  top: 12px;
}

.input {
  border-radius: 100px;
  padding: 8px;
  margin: 16px;
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}

.checkout-button-center {
  display: flex;
  justify-content: center;
}

.checkout-button {
  background-color: #DEB993;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 1000px;
  height: 60px;
  border: none;
  border-radius: 40px;
  padding: 8px;
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
