#co-logo {
  width: 30px;
  height: 30px;
  padding-right: 16px;
}

.co-nav {
  background-color: #43281C;
  color: #FBF2C0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

.co-container {
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  row-gap: 30px;
  column-gap: 60px;
  width: 96%;
  padding: 30px;
  margin: 0;
  grid-template-areas:
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.total {
  grid-area: total;
}

.co-box {
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 30px; /** this doesn't affect anything!? **/
  width: 100%;
}

.co-box-title {
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
}

.co-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.co-item {
  border-bottom: 2px solid #DDB892;
  display: grid;

  padding: 10px 0;

  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "quantity title   price"
    "quantity options price";

  row-gap: 8px;
}

.item-quantity {
  grid-area: quantity;
}

.item-title {
  grid-area: title;
  font-weight: bold;
}

.item-price {
  grid-area: price;
  font-weight: bold;
}

.co-item:last-child {
  border-bottom: none;
}

.item-options-list {
  grid-area: options;
  color: #B08968;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.item-option {
  margin-bottom: 5px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.user-input-label {
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.user-input {
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}

.short-input {
  max-width: 200px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: total;
}

.totals-table {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

.totals-table td:last-child {
  text-align: right;
}

.totals-table td {
  padding: 10px;
}

.checkout {
  background-color: #deb993;
  border: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
}
