<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/franklin-gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet">
    <title>Coffee Masters</title>
    <link rel="stylesheet" href="checkout.scss">
  </head>

  <body>
    <nav class="checkout-nav">
      <%= image_tag "coffee_masters_logo.png", id: "coffee-logo", alt: "coffee logo" %>
      <h1>Zeni's Coffee</h1>
    </nav>
    <div class="checkout-container">
      <section class="checkout-order checkout-box">
        <h2 class="checkout-h2">ITEMS</h2>
        <ul class="checkout-items">
          <li class="checkout-item">
            <div><li class="item-quantity">1x</li></div>
            <div><li class="item-title">Cappuccino</li></div>
            <div><li class="item-price">6,00 €</li></div>
            <ul class="item-options">
              <li class="item-options-list">Light Foam</li>
            </ul>
          </li>
          <li>
            <div><li class="item-quantity">1x</li></div>
            <div><li class="item-title">Cappuccino</li></div>
            <div><li class="item-price">7,90 €</li></div>
            <ul class="item-options">
              <li class="item-option">Almond Milk</li>
              <li class="item-option">Double Espresso Shot</li>
            </ul>
          </li>
          <li>
            <div><li class="item-quantity">1x</li></div>
            <div><li class="item-title">Croissant</li></div>
            <div><li class="item-price">5,37 €</li></div>
            <ul class="item-options">
              <li class="item-option">Butter</li>
            </ul>
          </li>
        </ul>
      </section>

        <section class="checkout-payment checkout-box">
          <div>
            <h2 class="checkout-h2">NAME</h2>
            <div class="user-data-group">
              <label for="user-name" class="input-label input-label-1">Name for order</label>
              <input id="user-name" type="text" class="input" placeholder="Jane Smith"/>
          </div>
          <div>
              <h2 class="checkout-h2">PAYMENT</h2>
              <div class="user-data-group">
                <label for="card-number" class="input-label input-label-2">Card number</label>
                <input id="card-number" type="text" class="input" placeholder="XXXX XXXX XXXX XXXX"/>
          </div>
          <div class="user-data-group">
              <label for="ccv" class="input-label input-label-3">CCV number</label>
              <input id="ccv" type="text" class="input short-input" placeholder="--"/>
            </div>
          </div>
        </section>

        <section class="checkout-total">
          <table class="totals-table">
            <tbody>
              <tr>
                <td>Subtotal:</td>
                <td>19,27 €</td>
              </tr>
              <tr>
                <td>Tax:</td>
                <td>0,96 €</td>
              </tr>
              <tr class="final-totals">
                <td>Total:</td>
                <td>20,23 €</td>
              </tr>
            </tbody>
          </table>
        </section>

      <div class="checkout-button-center">
        <button class="checkout-button">Place order</button>
      </div>
    </div>
  </body>
</html>
