<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/franklin-gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet">
    <title>Coffee Masters</title>
    <link rel="stylesheet" href="checkout.scss">
  </head>

  <body class="checkout-container">
    <nav class="checkout-nav">
      <%= image_tag "coffee_masters_logo.png", id: "coffee-logo", alt: "coffee logo" %>
      <h1>Zeni's Coffee</h1>
    </nav>

    <div class="sections-features">
      <h3 class="checkout-h3">ITEMS</h3>
      <ul class="checkout-ul">
        <li class="checkout-quantity">1x</li>
        <li class="checkout-item">Cappuccino</li>
        <li class="checkout-price">€ 6.00</li>
        <li>Light Foam</li>
      </ul>
    </div>

    <div>
      <section class="sections-features">
        <h3 class="checkout-h3">NAME</h3>
        <div class="user-data-group">
          <label for="user-name" class="input-label input-label-1">Name for order</label>
          <input id="user-name" type="text" class="input" placeholder="Jane Smith"/>
        </div>
      </section>

      <section class="sections-features">
        <h3 class="checkout-h3">PAYMENT</h3>
        <div class="user-data-group">
          <label for="card-number" class="input-label input-label-2">Card number</label>
          <input id="card-number" type="text" class="input" placeholder="XXXX XXXX XXXX XXXX"/>
        </div>
        <div class="user-data-group">
          <label for="ccv" class="input-label input-label-3">CCV number</label>
          <input id="ccv" type="text" class="input" placeholder="--"/>
        </div>
      </section>
    </div>

    <div class="checkout-button-center">
      <button class="checkout-button">Place order</button>
    </div>
  </body>
</html>
