<!-- I would like display the date on which a project was completed without hardcoding it. Date.today shouldn't be the right class for this -->

<p> Here's a list of things I am building: </p>
<p><%= link_to "My first profile page", profile_path %> (built during the bootcamp)</p>
<p><%= link_to "A newspaper", newspaper_path %> (12.04.2023)</p>
<p><%= link_to "A checkout page", checkout_path %> (13.04.2023)</p>
<p><%= link_to "A checkout page (II)", checkoutII_path %> (20.04.2023)</p>
