<!-- I would like to use require 'date' and then use date.today
  but I forgot where I should write the require 'date' -->

<p> Here's a list of things I am building: </p>
<p><%= link_to "My first profile page", profile_path %> (built during the bootcamp)</p>
<p><%= link_to "A newspaper", newspaper_path %> (12.04.2023)</p>
<p><%= link_to "A checkout page", checkout_path %> (13.04.2023)</p>
