<!DOCTYPE html>
<html>
  <head>
    <title>Giulia Zeni's first website | A dive out of her confort-zone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&family=Source+Code+Pro:wght@400;500&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="profile.scss">
    <meta name="description" content="Giulia Zeni: your first-choice unexperienced web developer">
    <meta charset="utf-8">
  </head>
  <body class="my-page">
    <div class="my-container my-p">
      <div class="my-card">
        <h1 class="my-h1">
          Giulia Zeni
        </h1>
        <h2 class="my-h2">Your first-choice unexperienced web developer</h2>
        <%= image_tag "IMG_2932.JPG", class: "profile-pic", alt: "profile picture" %>
        <p>On a journey to learn coding.<br>Diving out of my confort-zone</p>
        <a href="https://www.speaktravelitalian.com" target="_blank" class="my-a">
          My experienced self teaches you Italian!</a>
      </div>
      <div class="my-card">
        <h3 class="my-h3">My not-so-curated social links</h3>
        <ul class="my-unordered-list">
          <li class="my-li">
            <a href="https://www.linkedin.com/in/giulia-zeni/" target="_blank" class="my-a">
            <i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li class="my-li">
            <a href="https://github.com/giuliazeni" target="_blank" class="my-a">
            <i class="fa-brands fa-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
