<!DOCTYPE html>
<html>
  <head>
    <title>Giulia Zeni's first website | A dive out of her confort-zone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&family=Source+Code+Pro:wght@400;500&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="profile.scss">
    <meta name="description" content="Giulia Zeni: your first-choice unexperienced web developer">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>
          Giulia Zeni
        </h1>
        <h2>Your first-choice unexperienced web developer</h2>
        <img id="profile-pic" src="images/IMG_2932.JPG" alt="Profile pic" style="
          width: 250px;">
        <p>On a journey to learn coding.<br> Diving out of my confort-zone</p>
        <a href="https://www.speaktravelitalian.com" target="_blank">
          My experienced self teaches you Italian!</a>
      </div>
      <div class="card">
        <h3>My not-so-curated social links</h3>
        <ul class="unordered-list">
          <li>
            <a href="https://www.linkedin.com/in/giulia-zeni/" target="_blank">
            <i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/giuliazeni" target="_blank">
            <i class="fa-brands fa-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
